@import url("photographer.css");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap");

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

main {
  max-width: 1240px;
  margin: auto;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

h1 {
  color: #901c1c;
  margin-right: 100px;
}

header a {
  margin-left: 100px;
}

.logo {
  height: 50px;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
}

.photographer_section article {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.photographer_section article h2 {
  color: #d3573c;
  font-size: 36px;
  text-align: center;
  margin: 0;
  font-weight: 400;
}

.photographer_section article a {
  text-align: center;
  text-decoration: none;
}

.photographer_section article p {
  text-align: center;
  margin: 0;
}

.photographer_section article p:nth-of-type(1) {
  color: rgb(144, 28, 28);
  font-size: 13px;
  margin-bottom: 3px;
}

.photographer_section article p:nth-of-type(2) {
  margin-bottom: 3px;
  font-size: 10px;
}

.photographer_section article p:nth-of-type(3) {
  color: rgb(117, 117, 117);
  font-size: 9px;
}

.photographer_section article img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 100rem;
  margin-bottom: 20px;
}

.no-scroll {
  overflow: hidden;
}
